<div class="wrapper">
    <!--  Sidebar Holder -->
    <nav id="sidebar">
        <!-- <div class="sidebar-header">
                <h3>Registro Paciente</h3>
            </div> -->

        <ul class="list-unstyled components">
            <p>Menu Resgistro</p>
            <!--<li class="active">-->

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/registro','medico']">Medico</a>

            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/registro','empresa']">Empresa</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/registro','auxiliar']">Auxiliar</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/registro','arl']">Arl</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/registro','eps']">Eps</a>
            </li>



        </ul>

        <ul class="list-unstyled CTAs">

        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>



        <div class="container main-container">
            <router-outlet></router-outlet>

        </div>



    </div>
</div>