<!-- START: header -->
<header role="banner" class="probootstrap-header">
    <div class="container-fluid">
        <!-- <div class="row"> -->

        <a [routerLink]="['inicio']" class="probootstrap-logo" href="#"> Puhceo <img src="assets/img/logo6.png" alt=""></a>

        <!-- <a [routerLink]="['Inicio']" class="probootstrap-logo">Puhceo<span>.</span></a>-->

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['inicio']">Inicio</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['registro']">Registro</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['paciente']">Paciente</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['login']">Ingresar</a></li>
                <li class="probootstrap-cta" routerLinkActive="active"><a class="nav-link" href="#">Salir</a></li>
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Social</h5>
                <ul class="social-buttons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
                <p><small>&copy; Copyright 2019. All Rights Reserved.</small></p>
            </div>
        </nav>

        <div class="container main-container">
            <router-outlet></router-outlet>


        </div>

        <!-- </div> -->
    </div>


</header>
<!-- END: header -->




<!-- END: section -->



<!-- START: section -->

<!-- END: section -->

<!-- START: section -->

<!-- END: section -->

<!-- START: section -->

<!-- END: section -->
<!-- START: section -->

<!-- END: section -->



<!-- START: footer -->
<footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
        <div class="row">


            <div class="col-md-4">
                <div class="probootstrap-footer-widget">
                    <h3>Contact</h3>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                        <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                        <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row mt40">
            <div class="col-md-12 text-center">
                <ul class="probootstrap-footer-social">
                    <li><a href=""><i class="icon-twitter"></i></a></li>
                    <li><a href=""><i class="icon-facebook"></i></a></li>
                    <li><a href=""><i class="icon-instagram2"></i></a></li>
                </ul>
                <p>
                    <small>&copy; 2017 <a href="https://uicookies.com/" target="_blank">uiCookies:Sublime</a>. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://uicookies.com/" target="_blank">uicookies.com</a> Demo Images: Unsplash</small>
                </p>

            </div>
        </div>
    </div>
</footer>
<!-- END: footer -->