<section class="probootstrap-section">
    <div class="container">

        <!--  <div class="row"  col-md-offset-6 > -->
        <div class="col-lg-10 ">

            <form method="post" class="probootstrap-form probootstrap-form-box">
                <h1 class="col-md-12 text-center section-heading">Buscar Paciente</h1>
                <div class="form-group">
                    <label for="username">Cedula</label>
                    <input type="username" name="username" id="username" class="form-control">
                </div>

                <div class="form-group mb50">
                    <input type="submit" value="Ingresar" class="btn btn-primary btn-block">
                </div>

            </form>
        </div>
    </div>
    <!--  </div> -->
</section>