<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center section-heading">
                <img src="assets/img/logo6.png" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form method="post" class="probootstrap-form probootstrap-form-box">
                    <h1 class="col-md-12 text-center section-heading">Ingresar</h1>
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="username" name="username" id="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="username">Clave</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <div class="form-group mb50">
                        <input type="submit" value="Ingresar" class="btn btn-primary btn-block">
                    </div>
                    <div class="form-group text-center">
                        <p class="form-note-link"><small><a href="signup.html">No recuerda tu Usuario? </a></small> <br> <small><a href="#">Olvidaste tu Clave ?</a></small></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>