<div class="wrapper">
    <!--  Sidebar Holder -->
    <nav id="sidebar">
        <!-- <div class="sidebar-header">
            <h3>Registro Paciente</h3>
        </div> -->

        <ul class="list-unstyled components">
            <p>Menu Paciente</p>
            <!--<li class="active">-->


            <li class="nav-item" routerLinkActive="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Buscar</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a class="nav-link" [routerLink]="['/paciente','busqueda']">Paicente</a>
                    </li>
                    <li>
                        <a class="nav-link" [routerLink]="['/paciente','medico']">Medico</a>
                    </li>
                    <li>
                        <a class="nav-link" [routerLink]="['/paciente','auxiliar']">Auxiliar</a>
                    </li>
                    <li>
                        <a href="#">Arl</a>
                    </li>
                    <li>
                        <a href="#">Eps</a>
                    </li>
                    <li>
                        <a href="#">Empresa</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/paciente','anamnesis']">Anamnesis</a>

            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/paciente','revision']">Revisión</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/paciente','diagnostico']">Diagnostico</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/paciente','tratamiento']">Tratamiento</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/paciente','recomendaciones']">Recomendaciones</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/paciente','certificado']">Certificado</a>
            </li>


        </ul>

        <ul class="list-unstyled CTAs">

        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>


        <div class="container main-container">
            <router-outlet></router-outlet>

        </div>



    </div>
</div>