<section class="probootstrap-section">
    <div class="container col-lg-10">

        <form class="form-horizontal probootstrap-form probootstrap-form-box" action=" " method="post" id="registro_form">
            <fieldset>

                <!-- Form Name -->
                <legend>

                    <h2><b>Registro Medico</b></h2>

                </legend><br>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Tipo Documento</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="tipo_id" class="form-control selectpicker">
                            <option value="">Select Tipo Documento</option>
                            <option value="CC">Cedula</option>
                            <option value="CE">Cedula Extrangeria</option>
                            <option value="PS">Pasaporte</option>
                          </select>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-md-4 control-label">Identificación</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="identificacion" placeholder="Identificación" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Nombre</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="nombres" placeholder="Nombre" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Apellidos</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="apellidos" placeholder="Apellidos" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Usuario</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="usuario" placeholder="Usuario" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">E-mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="last_name" placeholder="jose@hotmail.com" class="form-control" type="text">
                        </div>
                    </div>
                </div>


                <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        <button type="submit" class="btn btn-primary btn-block">Guardar </button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</section>